language: node_js
node_js:
  - 14.8.0

cache: yarn

install:
  - yarn install

script:
  - yarn run build

deploy:
  provider: pages
  skip_cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: public
  on:
    branch: master

